.header {
  background-color: #111;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif; 
}

.logo {
  display: flex;
  align-items: center;
}

.copywriting {
  margin-left: 5em;
}

.navigation {
  display: flex;
  margin-right: 5em;
}

.navigation a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.header p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif; 
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}

