.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto', sans-serif; 
  text-transform: uppercase;
}

.logo {
  width: 250px;
  will-change: filter;
  transition: filter 200ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #64ff6caa);
}

.copywriting {
  margin-left: 5em;
}

.navigation {
  display: flex;
  margin-right: 5em;
}

.navigation a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  will-change: filter;
  transition: filter 200ms;
}

.navigation a:hover {
  filter: drop-shadow(0 0 2em #64ff6caa);
}

.header p {
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    padding: 20px;
    height: auto;
  }
  
  .logo {
    width: 250px;
    padding: 1em;
  }

  .copywriting {
    font-size: 14px;
    margin: 0;
  }

  .navigation {
    margin: 0;
  }
}


