#root {
  text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-color: #222;
}

.app {
  display: flex;
  flex-direction: column;   
  width: 100%;
  height: 100%; 
  height: 100vh;
}

.card {
  padding: 3em;
}
